body {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.play-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;

    gap: 50px;

    margin-top: 50px;
    margin-bottom: 50px;
}

.player1-container {
    grid-column: 1;
    /* TODO center text inputs */
}

.player2-container {
    grid-column: 3;
}

.game-board {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);

    gap: 5px;
    width: 400px;
    height: 400px;

    grid-column: 2;
}


.cell {
    border: none;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    /* cursor: pointer; */
}

/* Remove right border from cells in last column */
.cell:nth-child(3n) {
    border-right: none;
}

/* Remove bottom border from cells in last row */
.cell:nth-child(n+7) {
    border-bottom: none;
}


/* TODO separate buttons on bottom */