body {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.play-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;

    gap: 50px;

    margin-top: 50px;
    margin-bottom: 50px;
}

.player1-container,
.player2-container {
    /* Add padding and background to make the effect more visible */
    padding: 20px;
    background-color: white;
    /* or any color you prefer */

}

.player1-container {
    grid-column: 1;
    border-right: 2px solid rgba(0, 0, 0, 0.8);
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);
    box-shadow:
        8px 8px 0 -2px rgba(0, 0, 0, 0.8),
        12px 12px 15px rgba(0, 0, 0, 0.3);
}

.player2-container {
    grid-column: 3;
    border-left: 2px solid rgba(0, 0, 0, 0.8);
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);
    box-shadow:
        -8px 8px 0 -2px rgba(0, 0, 0, 0.8),
        -12px 12px 15px rgba(0, 0, 0, 0.3);
}


.game-board {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);

    gap: 5px;
    width: 400px;
    height: 400px;

    grid-column: 2;
}


.cell {
    border: none;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

/* Remove right border from cells in last column */
.cell:nth-child(3n) {
    border-right: none;
}

/* Remove bottom border from cells in last row */
.cell:nth-child(n+7) {
    border-bottom: none;
}

.player-name-display {
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
}


/* TODO separate buttons on bottom */